.card-body{
  border-radius: 10px;
  background-color: white;
}
.form-group{
  color: red;
  font-size: larger;
  font-style: italic;
}
button:disabled{
  cursor: not-allowed;
}
.text-danger{
  font-weight: 400;
}
.navbar-brand{
  font-family: Georgia;
  font-weight: bold;
  color: white;
  font-size: 22px;
  padding: 8px;
  font-style: italic;
}
.bg-custom{
  background-color: #580920;
  color: white;
}
.nav-color{
  color: white;
}
.nav-item{
  color: white;
}
.nav-color:hover{
  color: #e30b0bea;
  border-radius: 10px;
}
a:focus,
a:hover{
  color: #f4f827;
}
.nav-link{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: white;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus{
  color: white;
  color: #b10505;
  border-radius: 10px;
}
.card{
  font-weight: bold;
  display: flex;
  float: left;
  width:auto;
  margin-left: 50px;
  opacity: 0.80;
}
.message{
  padding: 3px;
  margin-left: 15px;
  font-weight: 500;
}
td{
  font-weight: normal;
}
.view{
  margin: 10px;
}